body{
    background: #F2F2F2;
}

#card-img{
    padding-right: 30px;
}


#card{
    border: 0;
    border-left: 2px dashed gray;
}

@media (max-width: 768px) {
    #card {
        border: 0;
        border-top: 2px dashed gray;
        margin-top: 10px;
    }
    #logo{
        margin: 0;
        margin: auto;
    }
    #card-img{
        padding: 0;
    }
    #txtFiltrar{
        display: none;
    }
}